from flask import Flask, render_template, request, jsonify, send_from_directory
import sqlite3
import json
import datetime
import os
import uuid
import webbrowser
import threading
from werkzeug.utils import secure_filename
